.DocumentEditorView {
  position: relative;
  width: calc(100vw - 260px);
  overflow: scroll;
  height: calc(100vh - 50px)
}

.DocumentImage canvas {
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin: 10px 0px 0px 10px;
  border-radius: 8px;
  scale: 50%;
}

.DocumentSectionEditor canvas {
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin: 10px 0px 0px 10px;
  border-radius: 8px;
}

.DocumentEditorView::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.DocumentEditorView::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.DocumentEditorView::-webkit-scrollbar-thumb {
  background-color: var(--brandColor);
  border-radius: 10px;
}