.AddFileForm {
  padding: 60px 100px;
  border-radius: 16px;
  box-shadow: 4px 6px 22px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.AddFileForm h3{
  margin-bottom: 22px;
  text-align: center;
}

.addFormButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}